/**
 * NOTES -----------------------------------------------------------------------
 *
 *
 * Fonts available:
 * - content-sans-serif (300, 400, 700)
 * - content-serif (400)
 *
 *
 * Colors:
 * - #b0bc22 (the yellowy/green)
 * - #3C3C3C (most body copy)
 *
 */

/*******************************************************************************
BASIC ELEMENTS
*******************************************************************************/
html {
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
} 

body {
  color: #3C3C3C;
  letter-spacing: 0.01rem;
  font-family: "Times New Roman", Times, serif;
  padding: 0 0.5em;
  margin: 0 0 4em 0;
  max-width: 124.625rem; /* 1994px: the year kurt cobain died */
  text-rendering: optimizeLegibility;
}
  .wf-active body { font-family: "content-serif" } 

a, a:hover, a:visited {
  text-decoration: none;
  color: #3C3C3C;
}

p {
  margin: 0.5rem 0;
}

/*******************************************************************************
HEADINGS
*******************************************************************************/
#main-heading {
  color: #b0bc22;
  letter-spacing: -0.01em;
} 
  .wf-active #main-heading { font-weight: 300; }
  #main-heading .bold {
    font-weight: 700;
    letter-spacing: -0.02em;
  }

h1,h2,h3,h4,h5,h6 {
  font-family: sans-serif;
  letter-spacing: -0.02em;
}
  .wf-active h1, .wf-active h2, .wf-active h3, .wf-active h4, .wf-active h5, .wf-active h6 { font-family: 'content-sans-serif'; }

.section-heading {
  text-transform: uppercase;
  margin: 0;
  font-weight: 400;
  color: #b0bc22;
}

.job-title,
.company-dates {
  margin: 0;
}

.job-title {
  font-weight: 400;
  margin-top: 2rem;
}
  .job-title:first-of-type {
    margin-top: 0;
  }

.company-dates {
  font-style: italic;
  margin-bottom: 0.5rem;
}
  .wf-active .company-dates { font-weight: 300; }

/*******************************************************************************
BODY COPY AND TYPE LAYOUT
*******************************************************************************/
.resume-section, footer {
  margin: 3rem 0 0 0;
}

.resume-section a, footer a, .resume-section #unicornTime {
  transition: color 0.3s;
  cursor: pointer;
}
  .resume-section a:hover, footer a:hover, .resume-section #unicornTime:hover {
    color: #b0bc22;
  }
  .resume-section p:first-of-type, footer p:first-of-type {
    margin-top: 0;
  }

/*******************************************************************************
HELPER CLASSES
*******************************************************************************/
.bold {
  font-weight: 700;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

/*******************************************************************************
MISC
*******************************************************************************/
#printButton {
  background-repeat: no-repeat;
  background-position: -5px -8px;
  padding-left: 30px;
  height: 35px;
  display: none;
  padding-top: 3px;
  margin-top: 4rem;
}

/*******************************************************************************
UNICORNS
*******************************************************************************/
#clearUnicorns, .easterEgg {
  transition: all 0.3s ease-out;
}

#clearUnicorns {
  display: none;
  z-index: 100;
  position: fixed;
  background-color: wheat;
  padding: 5px;
  border-radius: 13px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
  font-size: 300%;
  left: 13px;
  top: 63px;
  transform:rotate(-11deg);
  cursor: pointer;
}
  #clearUnicorns:hover {
    cursor: pointer;
    font-size: 370%;
  }

/*******************************************************************************
MEDIA QUERIES
*******************************************************************************/
@media only screen and (min-width: 20rem) {

  body {
    padding: 0 0.5rem;
  }

} /* min-width: 320px */

@media only screen and (min-width: 40rem) {

  body {
    padding: 0 13.333%;
  }

  .title {
    margin-bottom: 4rem;
  }

  #printButton {
    float: right;
    margin-top: 4rem;
    margin-bottom: 1rem;
    display: inline-block;
  }

} /* min-width: 768px */

@media only screen and (min-width: 64rem) {

  body {
    margin: 0 0 4rem 2rem;
    padding: 0;
  }

  .title {
    border-left: 1px solid black;
    height: 3.750rem;
    margin: 0 0 3rem 0;
  }

  .main {
    margin-left: 24.3%;
    max-width: 47%;
    transition: all .3s ease;
  }

  #main-heading {
    line-height: 6.250rem;
    margin: 0 0 0 0.5rem;
  }

} /* min-width: 1024px */

@media only screen and (min-width: 78.375rem) {

  /* TODO: move the header over to the right on really big screens */
  .title {
    margin-left: 13.333%;
  }

} /* min-width: 1245px */

@media only screen and (min-width: 138.188rem) {

  /* TODO: move the header over to the right on really big screens */
  .title {
    margin-left: 23%;
  }

} /* min-width: 2211px */

/*******************************************************************************
PRINT STYLES
*******************************************************************************/
@media print {

  @page { margin: 0.5cm; }

  * {
    background: transparent !important;
    box-shadow:none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* BASIC ELEMENTS */

  p, h2, h3, h4 {
    orphans: 3; widows: 3;
  }
  h2, h3, h4 {
    page-break-after: avoid;
  }

  /* SPECIFIC RESUME PRINT FIXES */

  .title {
    padding-left: 1.5em;
    margin: 0;
    height: auto;
  }

  #main-heading {
    line-height: normal;
  }

  .main {
    margin-left: 26.9%;
    margin-right: 17.3%;
  }

  /* exception for FireFox */
  @-moz-document url-prefix() {
    .main {
      margin-left: 30.1%; /* FF is printing this margin differently than webkit */
    }
  }

  #printBtnWrapper {
    display: none;
  }

  /* reset the font weights when we print headings */
  h1, h2 {
    font-weight: normal !important;
  }

  /* special page-break helper class */
  .page-break {
    page-break-after: always;
  }

} /* @media print */
