---
import SiteHeader from "../components/SiteHeader.astro";
import SiteFooter from "../components/SiteFooter.astro";

interface Props {
  title: string;
  description: string;
  frontmatter?: {
    title: string;
    description: string;
  };
}

const { title, description, frontmatter } = Astro.props;

let pageTitle = "Jonathan Bell";
let pageDescription = "Jonathan Bell, Software Developer";

if (frontmatter?.title && frontmatter?.description) {
  pageTitle = "Jonathan Bell - " + frontmatter.title;
  pageDescription = frontmatter.description;
} else if (title && description) {
  pageTitle = title;
  pageDescription = description;
}
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={pageDescription} />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>ðŸ‘‹</text></svg>"
    />

    <meta
      property="og:site_name"
      content="Jonathan Bell - Full-stack developer"
    />
    <meta property="og:title" content={pageTitle} />
    <meta property="og:description" content={pageDescription} />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="/icons/me5.jpg" />
    <meta
      property="og:image:alt"
      content="A silhouetted Jonathan Bell sits upon a twisted piece of metal that appears to be part of an old bridge"
    />
    <meta property="og:image:width" content="506" />
    <meta property="og:image:height" content="506" />
    <meta property="article:publisher" content="https://www.jonathanbell.ca" />

    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS Feed for jonathanbell.ca"
      href="/rss.xml"
    />

    <title>{pageTitle}</title>
  </head>
  <body>
    <SiteHeader />
    <article class="content" id="main">
      <slot />
    </article>
    <SiteFooter />
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        if (window.location.href === "https://www.jonathanbell.ca/") {
          // https://www.samanthaming.com/tidbits/40-colorful-console-message/

          console.log(
            "%cOoh, boy, you looking like you like what you see\nWon't you come over and check up on it?\nI'ma let you work up on it\nLadies, let 'em check up on it\nWatch it while he check up on it\nDip it, pop it, twerk it, stop it\nCheck on me tonight",
            "color: white; text-shadow: #FC0 1px 0 10px; font-weight: bold; background-position: 0%; background: linear-gradient(345deg, #e14725 -1.13%, #eea508 15.22%, #fbff0e 32.09%, #2d8218 53.97%, #2f1eed 67.94%, #db2272 85.34%, #9b0ac3 99.57%);",
          );
        }

        if (window.location.href.includes("/cv")) {
          const main = document.getElementById("main");
          const footer = document.getElementById("footer");
          if (main && footer) {
            footer.style.display = "none";
            main.style.marginBottom = "2rem";
          }
        }
      });
    </script>
  </body>
</html>

<style is:global lang="scss">
  @charset "UTF-8";

  @use "../styles/breakpoints" as *;

  :root {
    --colors-bg-base: #f9f8f8;
    --colors-fg-base: #151717;

    --colors-base-midtone: #586069;

    --colors-brand-base: #9b0ac3;
    --colors-brand-base-secondary: #2d8218;

    --colors-accent-light: #fbff0e;
    --colors-accent-light-secondary: #eea508;
    --colors-accent-deep: #2f1eed;
    --colors-accent-deep-secondary: #db2272;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --colors-bg-base: #151717;
      // --colors-fg-base: #f9f8f8;
      --colors-fg-base: #f3f0f0;

      --colors-base-midtone: #b9c7d6;

      --colors-brand-base: #c466de;
      --colors-brand-base-secondary: #5ed041;

      --colors-accent-deep: #1e5ced;
    }
  }

  html {
    font-family: system-ui, sans-serif;
    font-size: 100%;
    box-sizing: border-box;

    // https://developer.mozilla.org/en-US/docs/Web/CSS/text-size-adjust
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;

    // Make text look good. Note: This could be processor intensive on smaller
    // machines.
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

    margin: 0;
    background-color: var(--colors-bg-base);

    &::before {
      content: "";
      display: block;
      background: linear-gradient(
        90deg,
        var(--colors-accent-deep) 0%,
        var(--colors-brand-base) 20%,
        var(--colors-accent-deep-secondary) 60%,
        var(--colors-accent-light-secondary) 85%,
        var(--colors-accent-light) 95%
      );
      height: 0.5rem;
      width: 100%;
    }
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body {
    color: var(--colors-fg-base);

    max-width: 75rem;
    padding: 1.5rem;
    margin: 0 auto;
  }

  // Don't let these elements break out of their parents.
  audio,
  video,
  img,
  iframe {
    max-width: 100%;
  }

  // Don't display empty p tags. *Certain* (Wordpress* cough.. cough) CMS's these,
  // sometimes.
  p:empty {
    display: none;
  }

  a {
    text-decoration: none;
    color: var(--colors-brand-base);
    transition: color 0.1s ease-out;

    &:hover {
      color: var(--colors-brand-base-secondary);
    }
  }

  code {
    font-family:
      Menlo,
      Monaco,
      "Lucida Console",
      "Liberation Mono",
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
    color: var(--colors-accent-deep);
  }

  .astro-code {
    padding: 1rem;
    border-radius: 0.333rem;
    font-size: 0.9rem;

    @media (prefers-color-scheme: dark) {
      background-color: #f9fdff !important;
    }
  }

  .content {
    font-size: 1.188rem;

    ul,
    ol,
    h2,
    h3,
    h4,
    h5 {
      // Attempt to fix long URLs and words breaking out of their containers.
      overflow-wrap: break-word;
      word-wrap: break-word;
      word-break: break-word;

      // Adds a hyphen where the word breaks, if supported.
      // -ms-hyphens: auto;
      // -moz-hyphens: auto;
      // -webkit-hyphens: auto;
      // hyphens: auto;
    }

    .card-container,
    .link-container {
      font-size: 1rem;
    }

    .section-header {
      font-weight: 700;
    }

    *:last-child {
      margin-bottom: 0;
    }

    a {
      font-weight: 500;
    }

    code,
    em {
      font-size: 1rem;

      @media (min-width: $breakpoints-small) {
        font-size: 1.1rem;
      }
    }

    h2 code,
    h3 code,
    h4 code,
    h5 code,
    h6 code {
      font-size: inherit;
    }

    img {
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    }

    p,
    ul {
      line-height: 1.5;
      font-weight: 300;
      &:has(> img) {
        margin: 0;
        line-height: 1;
      }
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Libre Franklin", system-ui, sans-serif;
    }

    h2 + p {
      margin-top: 0;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: 800;
      font-size: 1.5rem;
      margin-top: 2rem;
      margin-bottom: 1rem;
    }

    h2 {
      font-size: 2rem;
    }
  }

  // Print styles! ðŸ–¨ï¸
  @media print {
    * {
      color: #000 !important;
      box-shadow: none !important;
      text-shadow: none !important;
      font-size: initial !important;
      line-height: initial !important;
    }

    html {
      background-color: transparent !important;
    }

    body {
      padding-bottom: 1rem !important;
    }

    h1,
    h1 a {
      font-weight: bold !important;
      color: black !important;
      -webkit-background-clip: initial !important;
      -webkit-text-fill-color: initial !important;
      background: none !important;
      font-size: 130% !important;
    }

    .content {
      h2 {
        font-size: 120% !important;
        text-decoration: underline !important;
      }

      h3 {
        font-size: 105% !important;
      }

      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-bottom: 0.25rem !important;
      }

      & > footer {
        display: none !important;
      }
    }

    details > summary::before,
    #copy-wallet-addr-button,
    footer > div > p,
    header > nav {
      display: none !important;
    }

    .content p,
    .content ul,
    a,
    a:visited {
      text-decoration: none;
      font-weight: normal !important;
    }

    .card-container {
      display: block !important;
    }

    .link-card > a {
      padding-left: 0 !important;
    }

    .inner nav a {
      background-color: transparent !important;
    }

    details > summary {
      padding-left: 0 !important;
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
      content: "";
    }

    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }

    img {
      page-break-inside: avoid;
      max-width: 100% !important;
    }

    @page {
      margin: 1cm;

      h2,
      h3,
      h4,
      h5 {
        page-break-after: avoid;
      }
    }
  }
</style>
