---
import "../styles/global.scss";
import SiteHeader from "../components/SiteHeader.vue";
import SiteFooter from "../components/SiteFooter.vue";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta
			name="description"
			content="Jonathan Bell is a fullstack web developer from Canada."
		/>
		<meta name="generator" content={Astro.generator} />
		<meta name="author" content="Jonathan Bell" />

		<meta property="og:site_name" content="Jonathan Bell" />
		<meta property="og:title" content="Jonathan Bell - Full-stack developer" />
		<meta
			property="og:description"
			content="Jonathan Bell, software developer & photographer from Canada"
		/>
		<meta property="og:type" content="profile" />
		<meta property="og:image" content="/icons/me5.jpg" />
		<meta
			property="og:image:alt"
			content="A silhouetted Jonathan Bell sits upon a twisted piece of metal that appears to be part of an old bridge"
		/>
		<meta property="og:image:width" content="506" />
		<meta property="og:image:height" content="506" />
		<meta property="og:url" content="https://www.jonathanbell.ca" />
		<meta property="twitter:site" content="@__jonathanbell" />

		<link
			rel="alternate"
			type="application/rss+xml"
			title="RSS Feed for jonathanbell.ca"
			href="/rss.xml"
		/>

		<!-- https://css-tricks.com/emoji-as-a-favicon/ -->
		<!-- https://twitter.com/LeaVerou/status/1241619866475474946 -->
		<link
			rel="icon"
			href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🧪</text></svg>"
		/>

		<title>Jonathan Bell, Software Developer</title>
	</head>
	<body>
		<SiteHeader />
		<slot />
		<SiteFooter />

		<script>
			// https://www.samanthaming.com/tidbits/40-colorful-console-message/
			// eslint-disable-next-line no-console
			console.log(
				"%cOoo boy you lookin' like you like what you see\nWon't you come over check up on it, I might let you work up on it\nLadies let 'em check up on it, watch he while he check up on it\nDip it, pop it, twerk it, stop it, check on me tonight",
				"color: white; text-shadow: #FC0 1px 0 10px; font-weight: bold; background-position: 0%; background: linear-gradient(345deg, #e14725 -1.13%, #eea508 15.22%, #fbff0e 32.09%, #2d8218 53.97%, #2f1eed 67.94%, #db2272 85.34%, #9b0ac3 99.57%);"
			);
		</script>
	</body>
</html>
