---
import "../styles/global.scss";
import SiteHeader from "../components/SiteHeader.vue";

export interface Props {
	title: string | null;
	description: string | null;
}

const { title, description, frontmatter } = Astro.props;

let sanitizedTitle = "Jonathan Bell";
if (frontmatter?.title) {
	sanitizedTitle = `Jonathan Bell | ${frontmatter.title}`;
} else if (title) {
	sanitizedTitle = `Jonathan Bell - ${title}`;
}

let sanitizedDescription = "Jonathan Bell, software developer";
if (frontmatter?.description) {
	sanitizedDescription = frontmatter.description.trim();
} else if (description) {
	sanitizedDescription = description.trim();
}
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content={sanitizedDescription} />
		<link
			rel="icon"
			href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🧪</text></svg>"
		/>
		<title>{sanitizedTitle}</title>
	</head>
	<body>
		<SiteHeader />
		<article class="content">
			<slot />
		</article>
	</body>
</html>
